asgiref
boto3
botocore
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
diff-match-patch
dj-rest-auth
Django
django-allauth
django-cors-headers
django-crispy-forms
django-dotenv
django-jazzmin
django-js-asset
django-mathfilters
django-storages
djangorestframework
djangorestframework-simplejwt
et-xmlfile
gunicorn
idna
itypes
Jinja2
jmespath
MarkupPy
MarkupSafe
oauthlib
odfpy
openpyxl
packaging
Pillow
psycopg2-binary
pycparser
PyJWT
python-dateutil
python3-openid
pytz
PyYAML
requests
requests-oauthlib
s3transfer
six
sqlparse
tablib
uritemplate
urllib3
xlrd
xlwt